doctype html
html
  head
    title= title
    style.
     table, th, td {
     border: 1px solid black;
     }
     


  body

    block content
    h1 User List
    table
                thead   
                    tr 
                        th First Name
                        th Last Name
                        th email
                        th Age
                        th gender
                        th DOB
                        th Modify
                tbody
                    each user in users
                        tr
                            
                                td  #{user.firstName}
                                td  #{user.lastName}
                                td  #{user.email}
                                td  #{user.age}
                                td  #{user.gender}
                                td  #{user.DOB} 
                                td 
                                    form(action="/users/#{user._id}", method="get")
                                        button(type="submit") View/edit User


