doctype html
html
  head
    title= title
    style.
     table, th, td {
     border: 1px solid black;
     }
     


  body

    block content
    -var id = user._id
    form(action='/users/update/#{id}',method='post')
        | First name: 
        input(type='text', name='firstName', value=user.firstName)
        br
        |   Last name: 
        input(type='text', name='lastName', value=user.lastName)
        br
        |   DOB:
        input(type='text', name='DOB', value=user.DOB)
        br
        |   Age:
        input(type='number', name='age', value=user.age)
        br
        br
        |   gender:
        input(type="radio" name="gender" value="male" )
        |   Male 
        br
        br      
        input(type="radio" name="gender" value="female")
        |   Female 
        br
        br
        |   email : 
        input(type='email', name='email', value=user.email)
        input(type='submit', value='Update')

      a(href="/users") 
        button User List


